<div th:fragment="townInventory(town)" class="box">
    <h2>마을 정보</h2>
    <div class="town-section">
        <div class="town-info">
            <p><span>📅 날짜</span><span style="color:#fff;" th:text="${town.day} + '달차'"></span></p>
            <p><span>⏳ 일(턴)</span><span style="color:#fff;" th:text="${town.currentTurn} + ' / ' + ${town.maxTurn}"></span></p>
            <p><span>💰 세금</span><span style="color:#ffd700;" th:text="${town.currentTax} + ' G'"></span></p>
            <p><span>📜 상태</span>
                <span th:if="${town.isTaxPaid}" class="tax-paid">납부 완료</span>
                <span th:unless="${town.isTaxPaid}" class="tax-unpaid">미납</span>
            </p>
        </div>
    </div>
</div>